@page
@model Pop_Simona_Proiect1.Pages.Consultatii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Consultatie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultatie.TipConsultatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultatie.TipConsultatie)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consultatie.ID">Edit</a> |
    <a asp-page="./Index">Inapoi la lista principala de consultatii</a>
</div>
