@page
@model Pop_Simona_Proiect1.Pages.Spitale.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi asta?</h3>
<div>
    <h4>Spital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spital.NumeSpital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spital.NumeSpital)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Spital.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista prinicpala de spitale</a>
    </form>
</div>
