@page
@model Pop_Simona_Proiect1.Pages.Spitale.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Spital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spital.NumeSpital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spital.NumeSpital)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Spital.ID">Edit</a> |
    <a asp-page="./Index">Inapoi la lista prinicpala de spitale</a>
</div>
