@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Adauga-ti programarea la medic!</h1>
    <p>Te va ajuta sa ai o evidenta mai buna a programarilor facute!</p>
</div>
